.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

img {
  width:50%;
}

img, .form-container {
  margin: 5%;
}

button {
  margin-top: 5%;
}

button {
  width:100%
}
