<div class="container">
  <img
    src="../assets/seinfeld-logo-png-transparent.png"
    alt="Seinfeld Sitcom logo"
  />
  <h2>{{ facts()[randomNumber()] }}</h2>
  <button mat-raised-button color="warn" (click)="factRandomizer()">
    Give me a new Seinfeld trivia
  </button>
  <button
    mat-stroked-button
    color="warn"
    (click)="addTrivia()"
    *ngIf="!isAddTrivia"
  >
    Add new trivia
  </button>
</div>

<div class="trivia-content">
  <ng-container *ngIf="isAddTrivia">
    <div class="form-container">
      <mat-form-field class="example-form-field">
        <input
          matInput
          #inputNewFact
          maxlength="256"
          placeholder="“Hello, Newman.”"
        />
      </mat-form-field>

      <button
        #buttonTrivia
        mat-stroked-button
        color="warn"
        (click)="addNewFact()"
        id="button-trivia"
      >
        Add trivia
      </button>
      <ng-container *ngIf="isTriviaAdded"
        >A new Seinfeld trivia has been added!</ng-container
      >
    </div>
  </ng-container>
</div>
