.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.trivia-content,
.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

img {
  width:50%;
}

img, .form-container {
  margin: 5%;
}

button {
  margin-top: 5%;
}

mat-form-field,
.example-full-width,
button {
  width:100%
}

#button-trivia {
  margin-bottom: 16px;
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #cc2933;
  color: white;
}
